<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @show.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @show.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @show.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @show.duration %>
</p>

<p>
  <strong>User:</strong>
  <%= @show.user_id %>
</p>
